/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Dancing Script", cursive;
    --secondary-font: "Philosopher", sans-serif;
    --primary-color: #aa9581; /* light brown */
    --secondary-color: #febcd4; /* light pink */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
   
}

h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    
}

h2 {
    font-size: 40px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

p { 
   font-family: var(--secondary-font);
   color: var(--primary-color);
   font-size: 20px;

}
 /* Navbar styles */

 #navbar {
    background-color: var(--secondary-color);
 }

 #navbar .logo {
    width: 50px;
 }


 /* Header styles */

 header {
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .homepage-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    
 }

 /* Service cards */

 .service-card {
   color: var(--primary-color);
 }

#services .card {
   margin-bottom: 1.5rem;
}

li {
   color: var(--primary-color);
   font-size: 20px;
   font-family: var(--secondary-font);
   margin-bottom: 1.5rem;
}

/* Gallery */

#photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 0; 
}

#photos img {
  width: 100%;
  height: 250px;      
  object-fit: cover;  
  display: block;     
}




 
/* Footer/contact */

 footer address {
    color: var(--secondary-color);
 }

 #contact {
    background-color: var(--secondary-color);
    color: white;
    padding-bottom: 3rem;
}

#address {
   color:#aa9581
}


 .social-links {
    display: flex;
    justify-content: left; 
    gap: 40px;
    color: var(--primary-color)

 }

.social-links i {
    font-size: 20px;
    color: #4c3c2c;
}

#contact .social-links i:hover {
    color: white;
}

/* Media queries */

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /* Make all service cards the same height for consistency */
   #services .card {
      min-height: 180px;
   }
}


/* large devices (laptops and desktops, 992px and up) */
  @media screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {

}

/* Extra extra large devices (large desktops, 1400px and up) */
@media screen and (min-width: 1400px) {

}

