/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Dancing Script", cursive;
    --secondary-font: "Philosopher", sans-serif;
    --primary-color: #aa9581; /* light brown */
    --secondary-color: #febcd4; /* light pink */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
   
}

h1 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    
}

h2 {
    font-size: 40px;
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

p { 
   font-family: var(--secondary-font);
   color: var(--primary-color);
   font-size: 25px;

}
 /* Navbar styles */

 #navbar {
    background-color: var(--secondary-color);
 }

 #navbar .logo {
    width: 40px;
 }


 /* Header styles */

 header {
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .homepage-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    
 }

 /* Service cards */

 .service-card {
   color: var(--primary-color);
 }

 /* Footer/contact */

 footer address {
    color: var(--secondary-color);
 }

 #contact {
    background-color: var(--secondary-color);
    color: white;
    padding-bottom: 3rem;
}

#address {
   color:#aa9581
}


 .social-links {
    display: flex;
    justify-content: left; 
    gap: 40px;
    color: var(--primary-color)

 }

.social-links i {
    font-size: 20px;
    color: #4c3c2c;
}

#contact .social-links i:hover {
    color: white;
}

