/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Dancing Script", cursive;
    --secondary-font: "Philosopher", sans-serif;
    --primary-color: #c97999; /* light pink */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
}

h1, h2, h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
}
 /* Navbar styles */

 #navbar {
    background-color: var(--primary-color);
 }

 #navbar .logo {
    width: 40px;
 }

 /* Header styles */

 header {
    display: flex;
    justify-content: center;
    align-items: center;
 }
