/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* CSS Variables */

:root {
    --primary-font: "Dancing Script", cursive;
    --secondary-font: "Philosopher", sans-serif;
    --primary-color: #613705; /* brown */
}

/* Global Styles */

body {
    font-family: var(--secondary-font);
    background-color: #fbcbdd /* light pink */
}

h1, h2 {
    font-family: var(--primary-font);
    color: var(--primary-color);
    text-align: center;
    
}

h2 {
    font-size: 40px;
}

h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

p { 
   font-family: var(--secondary-font);
   color: var(--primary-color);

}
 /* Navbar styles */

 #navbar {
    background-color: var(--primary-color);
 }

 #navbar .logo {
    width: 40px;
 }

 /* Header styles */

 header {
    display: flex;
    justify-content: center;
    align-items: center;
 }


 .homepage-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    margin: 20px auto;
    
 }

 /* Footer styles */

 footer address {
    color:#613705;
 }


 .social-links {
    display: flex;
    justify-content: left; 
    gap: 40px;

 }

.social-links i {
    font-size: 20px;
    color:#613705
}

